In [1]:
from get_page import simple_get
from bs4 import BeautifulSoup
import pandas as pd
import re
import os
import sys
import sqlite3
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")
def create_connection(db_file):
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
 
    return None
bible = {"genesis":50,"exodus":40,"leviticus":27, "numbers":36,"deuteronomy":34, "joshua":24, "judges":21, "ruth":4, "1-samuel":31, "2-samuel":24,
        "1-kings":22, "2-kings":25, "1-chronicles":29, "2-chronicles":36, "ezra":10, "nehemiah":13, "esther":10, "job":42, "psalms":150,
        "proverbs":31, "ecclesiastes":12, "song-of-solomon":8, "isaiah":66, "jeremiah":52, "lamentations":5, "ezekiel":48, "daniel":12,
        "hosea":14, "joel":3, "amos":9, "obadiah":1, "jonah":4, "micah":7, "nahum":3, "habakkuk":3, "zephaniah":3, "haggai":2,"zechariah":14,
        "malachi":4, "matthew":28, "mark":16, "luke":24, "john":21, "acts":28, "romans":16, "1-corinthians":16, "2-corithians":13, "galatians":6,
        "ephesians":6, "philippians":4, "colossians":4, "1-thessalonians":5, "2-thessalonians":3, "1-timothy":6, "2-timothy":4,
        "titus":3, "philemon":1, "hebrews":13, "james":5, "1-peter":5, "2-peter":3, "1-john":5, "2-john":1, "3-john":1, "jude":1, "revelation":22}

#### Example load page

In [2]:
url = 'https://www.biblestudytools.com/nas/genesis/1.html'
page = simple_get(url)
html = BeautifulSoup(page, 'html.parser')
verses = html.find_all('span',{'class': re.compile("(verse-\d)")})

#### Iterate through each chapter based on the dict and scrape the page, SCRAPES STRONGS NUMBER ONLY

In [32]:
bible_dict = {}
prefix = 'H'
for b in bible:
    if b == 'matthew':
        prefix = 'G'
    book = {}
    for chapter_num in range(1, bible[b]+1):
        sys.stdout.write('{0} {1}                      \r'.format(b, chapter_num))
        sys.stdout.flush()
        url = 'https://www.biblestudytools.com/nas/{0}/{1}.html'.format(b, chapter_num)
        page = simple_get(url)
        html = BeautifulSoup(page, 'html.parser')
        verses = html.find_all('span',{'class': re.compile("(verse-\d)")})
        chapter = {}
        verse_num = 1
        for verse in verses:
            verse_dict = []
            verse_index = 0
            for a in verse.find_all('a', {'class':'strongs'}):
                word_dict = {}
                #added stemmer here, use a.text instead of stemmer.stem(a.text) for full word
                word_dict.update({prefix + str(int(a.get('data-strongs-number')))+ "_stemmed": stemmer.stem(a.text)})
                word_dict.update({prefix + str(int(a.get('data-strongs-number')))+ "_lower": a.text.lower()})
                word_dict.update({prefix + str(int(a.get('data-strongs-number'))): a.text})
                verse_dict.append({prefix + str(int(a.get('data-strongs-number'))):word_dict})
                verse_index +=1
            chapter.update({verse_num:verse_dict})
            verse_num +=1
        book.update({chapter_num: chapter})
    bible_dict.update({b:book})

In [59]:
test = 'behold"'
import re
re.sub(r'\W+', '', test)

'behold'

#### Insert verses into sqlite db

In [2]:
conn = create_connection("nasb_stem.db")

In [ ]:
sql = 'DROP TABLE strong_verses;'
c = conn.cursor()
c.execute(sql)
conn.commit()

In [61]:
create_table_sql = """ CREATE TABLE IF NOT EXISTS strong_verses_stemmed (
                                        ref text NOT NULL,
                                        book text NOT NULL,
                                        strongs_number text NOT NULL,
                                        word text NOT NULL,
                                        word_stemmed text NOT NULL,
                                        word_lower text NOT NULL,
                                        chapter integer NOT NULL,
                                        verse integer NOT NULL,
                                        sequence integer NOT NULL
                                    ); """
c = conn.cursor()
c.execute(create_table_sql)
conn.commit()

In [63]:
c = conn.cursor()
for b in bible.keys():
    for chapter in range(1, len(bible_dict[b])+1):
        for verse in range(1, len(bible_dict[b][chapter])+1):
            i = 1
            for word in bible_dict[b][chapter][verse]:
                stemmed = ''
                lower = ''
                normal = ''
                for version in word:
                    for v in word[version]:
                        if v.find('stemmed')>-1:
                            stemmed = re.sub(r'\W+', '', word[version][v])
                        elif v.find('lower')>-1:
                            lower = re.sub(r'\W+', '', word[version][v])
                        else:
                            normal = re.sub(r'\W+', '', word[version][v])
                ref = '{0} {1}:{2}'.format(b, chapter, verse)
                sql = '''INSERT INTO strong_verses_stemmed(ref,book,strongs_number,word, word_stemmed, word_lower,chapter,verse,sequence) VALUES("{0}","{1}","{2}","{3}","{4}","{5}",{6},{7},{8}) '''.format(ref, b, list(word.keys())[0],normal, stemmed, lower, chapter, verse, i)
                c.execute(sql)
                conn.commit()
                i+=1
                sys.stdout.write(ref + '                   \r')
                sys.stdout.flush()

#### If replacing the table, drop the old one and create new

List tables in db

In [118]:
sql = 'select * from sqlite_master where type = "table";'
c = conn.cursor()
c.execute(sql)
rows = c.fetchall()
print(rows)

[('table', 'strong_verses_stemmed', 'strong_verses_stemmed', 2, 'CREATE TABLE strong_verses_stemmed (\n                                        ref text NOT NULL,\n                                        book text NOT NULL,\n                                        strongs_number text NOT NULL,\n                                        word text NOT NULL,\n                                        word_stemmed text NOT NULL,\n                                        word_lower text NOT NULL,\n                                        chapter integer NOT NULL,\n                                        verse integer NOT NULL,\n                                        sequence integer NOT NULL\n                                    )'), ('table', 'full_verse', 'full_verse', 5178, 'CREATE TABLE full_verse (\n                                        ref text NOT NULL,\n                                        book text NOT NULL,\n                                        chapter_num integer NOT NULL,\n                                        verse_num integer NOT NULL,\n                                        verse text NOT NULL\n                                    )')]

In [3]:
import pandas as pd

Query db

In [ ]:
sql = """
SELECT DISTINCT(strongs_number) from strong_verses_stemmed where word_lower IN ('remnant', 'return')"""
c = conn.cursor()
c.execute(sql)
rows = c.fetchall()
pd.DataFrame(rows)

In [21]:
def pull_data(words):
    words = [get_stemmed(w.lower()) for w in words]
    words = [w for w in words if w != 'NO STEM']
    print(words)
    if len(words) >1:
        word_query = ''
        for w in words:
            word_query += '"' + w + '",'
        word_query = word_query[:len(word_query)-1]
        sql = """SELECT ref, word_lower, strongs_number from strong_verses_stemmed where word_lower IN ({})""".format(word_query)
        c = conn.cursor()
        c.execute(sql)
        rows = c.fetchall()
        df = pd.DataFrame(rows)
        df.columns = ['ref', 'engl', 'strongs']
        print(len(df))
        df = df.groupby('ref').aggregate({'engl':','.join, 'strongs':','.join})
        df = df[df.engl.apply(lambda x: check_dups(x, len(words)))]
        return df
    else:
        sql = """SELECT ref, word_lower, strongs_number from strong_verses_stemmed where word_lower IN ('{}')""".format('test')
        c = conn.cursor()
        c.execute(sql)
        rows = c.fetchall()
        df = pd.DataFrame(rows)
        df.columns = ['ref', 'engl', 'strongs']
        return df.set_index('ref')
def get_stemmed(word):
    sql = """SELECT word_stemmed from strong_verses_stemmed where word_lower ='{}'""".format(word)
    c = conn.cursor()
    c.execute(sql)
    rows = c.fetchall()
    df = pd.DataFrame(rows)
    if len(df) >0:
        return df.iloc[0].values[0]
    else: 
        return 'NO STEM'
def check_dups(strongs, num_words):
    strongs = list(set(str(strongs).split(','))) 
    if len(strongs) >=num_words:
        return True
    else: 
        return False

In [19]:
word_query = ''
for w in pull_data(['God', 'said', 'follow']).index.values:
    word_query += '"' + w + '",'
word_query = word_query[:len(word_query)-1]
sql = """SELECT * from full_verse where ref IN({})""".format(word_query)
c = conn.cursor()
c.execute(sql)
rows = c.fetchall()
df = pd.DataFrame(rows)[[0,4]]
df.columns = ['ref', 'verse']
df.to_json(orient='records')

['god', 'said', 'follow']

'[{"ref":"1-kings 18:21","verse":"Elijah came near to all the people and said, `How long * will you hesitate between two opinions? If the LORD is God, follow * Him; but if Baal, follow * him.` But the people did not answer him a word."},{"ref":"john 21:19","verse":"Now this He said, signifying by what kind of death he would glorify God. And when He had spoken this, He said to him, `Follow Me!`"}]'

In [22]:
pull_data(['God', 'said', 'follow'])

['god', 'said', 'follow']
8491

                                 engl                 strongs
ref
1-kings 18:21  said,god,follow,follow   H559,H430,H1980,H1980
john 21:19       said,god,said,follow  G3004,G2316,G3004,G190